* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/pexels-bich-tran-669996.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
